.container {
  width: 100%;
  flex: 1;
  background-color: #0a0a0a;
  align-items: center;
  text-align: center;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  padding-top: 5vh;
  justify-content: center;
  align-self: center;
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ec6811;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  height: 40vh;
  width: 20vw;
  text-align: start;
}

.text {
  color: white;
}

.input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 0px;
}

@media screen and (max-width: 768px) {
  .form {
    width: 80vw;
  }
}
