.header {
  position: relative; /* 🔥 essencial pro centro absoluto */

  height: 60px;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);

  display: flex;
  align-items: center;

  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

/* MENU CENTRAL REAL */
.centerMenu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 24px;
}

/* LINKS */
.link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 8px 16px;

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
}
