.container {
  position: relative;
  width: 100%;
  flex: 1;
  background-color: #0a0a0a;
  /* display: flex; */
  align-items: center;
  padding: 0 10%;
  overflow: hidden; /* Importante para as faixas não vazarem */
  font-family: 'Inter', sans-serif;
  padding-top: 5vh;
}

/* O texto vazado no fundo */
.bg-text {
  position: absolute;
  right: 5%;
  bottom: 0;
  font-size: 15rem;
  font-weight: 900;
  font-style: italic;
  line-height: 0.8;
  z-index: 1;
  user-select: none;
}

.outline-text {
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
}

.orange-accent {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background: linear-gradient(to left, rgba(185, 113, 4, 0.5), transparent);
  transform: skewX(-20deg) translateX(30%);
  z-index: 2;
}

.content {
  display: flex;
  gap: 3vw;
}

.cardsContent {
  display: flex;
  gap: 3vw;
  justify-content: center;
  margin-top: 5vh;
}

.iconDiv {
  margin-left: auto;
}

.main-title {
  color: white;
  font-size: 5rem;
  font-weight: 900;
  font-style: italic;
  line-height: 1;
  letter-spacing: -2px;
}

.highlight {
  color: #ec6811; /* Verde limão da imagem */
}

.description {
  color: #888;
  max-width: 400px;
  margin: 20px 0;
  line-height: 1.6;
}

.btn-read-more {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 12px 30px;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-read-more:hover {
  background: white;
  color: black;
}

.icon {
  width: 400px;
  z-index: 15;
  filter: drop-shadow(0 0 20px rgba(173, 255, 47, 0.2));
}

@media screen and (max-width: 768px) {
  .orange-accent {
    display: none;
  }

  .bg-text {
    position: absolute;
    right: 5%;
    bottom: 0;
    font-size: 8rem;
    font-weight: 900;
    font-style: italic;
    line-height: 0.8;
    z-index: 1;
    user-select: none;
  }

  .iconDiv {
    margin-right: auto;
  }

  .cardsContent {
    display: flex;
    gap: 0vw;
    margin-top: 5vh;
    align-items: center;
  }

  .icon {
    right: 25%;
    left: 25%;
    top: 5%;
    width: 300px;
    z-index: 15;
    filter: drop-shadow(0 0 20px rgba(173, 255, 47, 0.2));
  }

  .content {
    display: flex;
    gap: 3vw;
    flex-direction: column;
  }

  .cardsContent {
    display: flex;
    gap: 3vw;
    justify-content: center;
    margin-top: 5vh;
    flex-direction: column;
  }

  .card {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
