.main {
  justify-content: center; /* pode manter */
  width: '100%';
  flex: 1;
  background-color: #0a0a0a;
  padding: 24px 16px;
  gap: 32px;
}
/* Container dos cards */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex: 1;
  gap: 40px;
}

.logo {
  align-self: center;
}

/* Cards ocupando espaço inteligente */
.container > * {
  flex: 1 1 500px; /* cresce, encolhe, base */
  max-width: 500px;
}

/* Mobile */
@media (max-width: 768px) {
  .main {
    padding: 16px;
    gap: 24px;
  }

  .container {
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }

  .container > * {
    width: 100%;
    max-width: 768px;
    align-self: center;
    justify-content: center;
  }
}
